.value-list .value-key {
  display: inline-block;
  min-width: 5rem; }

.measurement-table {
  border: none;
  margin: 0 auto; }
  .measurement-table th, .measurement-table td {
    text-align: center;
    -webkit-transition: all 150ms ease-in;
            transition: all 150ms ease-in; }
    .measurement-table th.active, .measurement-table td.active {
      background: black;
      color: white;
      box-shadow: 4px 4px 0 lightgrey !important;
      position: relative;
      z-index: 10;
      top: -3px; }
    .measurement-table th:not(:first-child), .measurement-table td:not(:first-child) {
      cursor: pointer; }
  .measurement-table tr:nth-of-type(even) {
    background: none; }
    .measurement-table tr:nth-of-type(even) td:not(.active) {
      background: #F9F9F9; }
  .measurement-table small {
    font-size: .75rem; }
  .measurement-table td {
    -webkit-transition: all 100ms linear;
            transition: all 100ms linear;
    font-size: .775rem;
    padding: 0.5625rem 0.495rem; }

.button.black {
  box-shadow: 0 4px 0 black;
  background: #2D2D2D;
  font-size: 1.2rem;
  -webkit-transition: all 150ms ease-in;
          transition: all 150ms ease-in; }
  .button.black:hover {
    background: #2D2D2D; }
  .button.black:active {
    box-shadow: none;
    position: relative;
    top: 3px; }

.call-to-action {
  margin: 2rem 0 1.25rem 0; }

.look-options.button-group > li > .button {
  border: 1px solid grey; }
.look-options .button {
  padding: .5rem .9rem;
  text-transform: capitalize;
  background: transparent;
  color: #2D2D2D;
  position: relative;
  top: 3px;
  -webkit-transition: all 150ms ease-in;
          transition: all 150ms ease-in; }
  .look-options .button:active, .look-options .button.active {
    border: 1px solid white !important;
    border-right: none !important;
    border-bottom: none !important;
    background: black;
    color: #FEFDFD;
    top: 0;
    box-shadow: 4px 4px 0 lightgrey; }

h1 {
  font-size: 2.45rem; }
  h1.with-subheading {
    margin-bottom: -0.3rem; }

.large-price {
  font-size: 1.5rem; }

.hero-text {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.96) 51%, white 53%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.96) 51%, white 53%, white 100%);
  position: absolute;
  text-align: center;
  font-size: 2.9rem;
  top: 26rem;
  left: 1rem; }

.underlined {
  text-decoration: underline; }

.thin {
  font-family: 'HelveticaNeue-Thin', 'Helvetica', 'Roboto', 'Arial', 'sans-serif'; }

.image-caption {
  margin-bottom: 2rem;
  display: inline-block; }

.video-caption {
  margin-bottom: 2rem;
  display: inline-block; }

.sidekick-image {
  margin-bottom: 1rem; }

.hero-image-container {
  overflow: hidden;
  height: 38rem; }

.hero-image {
  margin: 0 auto; }

@media only screen {
  nav.primary-nav {
    text-align: center;
    padding-top: 2rem; }
    nav.primary-nav .logo img {
      width: 15rem;
      padding-bottom: 2rem; }
    nav.primary-nav li.active {
      font-weight: bold;
      background: black; }
      nav.primary-nav li.active a {
        color: #FEFDFD; }
    nav.primary-nav a {
      color: #2D2D2D;
      display: block;
      font-size: 1.5rem;
      font-weight: light; } }
@media only screen and (min-width: 30.063em) {
  nav.primary-nav img {
    width: 14rem; }
  nav.primary-nav li {
    display: inline-block; }
  nav.primary-nav a {
    padding: 0 1rem;
    font-size: .8rem; } }
.carousel-container {
  overflow: hidden;
  height: 45rem; }
  .carousel-container .home-carousel {
    margin-bottom: 0; }

.centered {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media only screen and (min-width: 30.063em) {
  footer .alert-box {
    position: absolute;
    right: 0;
    width: 25%; } }
.flex-video {
  margin-bottom: 1rem; }

main > section {
  margin-bottom: 1rem;
  margin-top: 1rem; }

main > section > article {
  margin-bottom: 4rem;
  margin-top: 3rem; }



/*# sourceMappingURL=../maps/main.css.map */