@font-face {
  font-family: Nitti;
  font-weight: 100;
  src: url("/fonts/Nitti-Light.otf") format("opentype"); }
@font-face {
  font-family: Nitti;
  font-weight: 300;
  src: url("/fonts/Nitti-Normal.otf") format("opentype"); }
@font-face {
  font-family: Nitti;
  font-weight: 500;
  src: url("/fonts/Nitti-Medium.otf") format("opentype"); }
@font-face {
  font-family: Nitti;
  font-weight: 900;
  src: url("/fonts/Nitti-Bold.otf") format("opentype"); }
.chevron {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-width: 1px; }

.chevron--top {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.chevron--right {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.chevron--bottom {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.chevron--left {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg); }

.value-list .value-key {
  display: inline-block;
  min-width: 5rem; }

.switch.large label, .switch.large input:checked + label {
  background-color: transparent;
  padding: .5rem; }
.switch.large label:after {
  background: black;
  top: 1.8rem;
  height: 2px; }
.switch.large .switch-text {
  color: #707070;
  font-size: .9rem;
  position: absolute;
  top: .6rem;
  left: .85rem;
  font-weight: bold; }
  .switch.large .switch-text span:first-child {
    padding-right: .65rem; }
  .switch.large .switch-text span:last-child {
    padding-left: .65rem; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 16px; }

.measurement-table {
  font-family: 'HelveticaNeue', 'Helvetica', 'Roboto', 'Arial', 'sans-serif';
  border: none;
  margin: 0 auto; }
  .measurement-table tr:first-child td:first-child {
    text-align: left; }
  .measurement-table tr:nth-of-type(even) {
    background: none;
    background: #F9F9F9; }
  .measurement-table tr:last-child {
    background: none; }
  .measurement-table th, .measurement-table td {
    text-align: center; }
    .measurement-table th:not(:first-child), .measurement-table td:not(:first-child) {
      cursor: pointer; }
  .measurement-table th {
    padding: 0;
    padding-bottom: .4rem;
    -webkit-transition: all 150ms ease-in;
            transition: all 150ms ease-in; }
    .measurement-table th.active {
      position: relative;
      z-index: 10;
      top: -3px;
      left: -3px; }
      .measurement-table th.active a {
        box-shadow: 4px 4px 0 lightgrey !important; }
      .measurement-table th.active .table-heading-button {
        color: white;
        background: black;
        border: none; }
    .measurement-table th .table-heading-button {
      font-size: 0.8125rem;
      font-weight: 400;
      color: #222222;
      display: block;
      height: 100%;
      padding: .5rem 0;
      border: 1px solid grey;
      width: 100%; }
  .measurement-table td {
    font-size: .65rem;
    padding: 0.5625rem 0.495rem; }
    .measurement-table td.active {
      background: lightgrey; }
    .measurement-table td:first-child {
      width: 4rem;
      text-align: left; }
    .measurement-table td small {
      font-size: .6rem; }
  .measurement-table .switch {
    margin: 0;
    left: -.2rem; }
  .measurement-table h3 {
    padding-left: 1.2rem;
    font-size: .85rem;
    color: #707070; }

a {
  color: #B02428; }
  a:hover {
    color: #70171a; }

.button, a.button, button.button {
  font-family: Nitti, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-bottom: 5px solid black;
  border-radius: 0;
  color: white;
  background: #B02428; }
  .button:hover, a.button:hover, button.button:hover {
    background: transparent;
    border-bottom: 5px solid #B02428;
    border-color: black;
    color: black; }
  .button:active, a.button:active, button.button:active {
    background: transparent;
    border-bottom: 1px solid black;
    position: relative;
    top: 3px; }
  .button.hollow, a.button.hollow, button.button.hollow {
    color: black;
    background: transparent;
    border: 1px solid black;
    border-bottom: 5px solid #B02428; }
    .button.hollow:hover, a.button.hollow:hover, button.button.hollow:hover {
      background: #B02428;
      color: white;
      border-color: #B02428; }

.call-to-action {
  margin: 2rem 0 1.25rem 0; }

.look-options {
  padding-right: 0; }
  .look-options > ul {
    position: relative; }
    .look-options > ul.button-group > li > .button {
      border: 1px solid grey; }
    .look-options > ul .button {
      padding: .5rem .9rem;
      text-transform: capitalize;
      background: transparent;
      color: #222222;
      position: relative;
      right: -.5rem;
      -webkit-transition: all 150ms ease-in;
              transition: all 150ms ease-in;
      top: 3px; }
      .look-options > ul .button:active, .look-options > ul .button.active {
        border: 1px solid white !important;
        border-right: none !important;
        border-bottom: none !important;
        background: black;
        color: #fffcfb;
        top: 0;
        box-shadow: 4px 4px 0 lightgrey; }

html, body {
  font-size: 18px;
  font-family: Nitti, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  font-family: Nitti, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 100; }

h1 {
  font-size: 2.45rem; }
  h1.with-subheading {
    margin-bottom: -0.3rem; }

.large-price {
  font-size: 1.5rem; }

.hero-text {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.96) 51%, white 53%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.96) 51%, white 53%, white 100%);
  position: absolute;
  text-align: center;
  font-size: 2.9rem;
  top: 26rem;
  left: 1rem; }

.underlined {
  text-decoration: underline; }

.image-caption {
  margin-bottom: 2rem;
  display: inline-block; }

.video-caption {
  margin-bottom: 2rem;
  display: inline-block; }

.jacket-size-label {
  position: absolute;
  top: .8rem; }

.sidekick-image {
  margin-bottom: 1rem; }

.checkout-image {
  width: 45%; }

.customization-image {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.hero-image-container {
  overflow: hidden;
  height: 38rem; }

.hero-image {
  margin: 0 auto; }

@media only screen {
  nav.primary-nav {
    text-align: center;
    padding-top: 2rem; }
    nav.primary-nav .logo img {
      width: 15rem;
      padding-bottom: 2rem; }
    nav.primary-nav li.active {
      font-weight: bold;
      background: black; }
      nav.primary-nav li.active a {
        color: #fffcfb; }
    nav.primary-nav a {
      color: #222222;
      display: block;
      font-size: 1.5rem;
      font-weight: light; } }
@media only screen and (min-width: 30.063em) {
  nav.primary-nav img {
    width: 14rem; }
  nav.primary-nav li {
    display: inline-block; }
  nav.primary-nav a {
    padding: 0 1rem;
    font-size: .8rem; } }
.carousel-container {
  overflow: hidden;
  height: 45rem; }
  .carousel-container .home-carousel {
    margin-bottom: 0; }

.centered {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.flex-video {
  margin-bottom: 1rem; }

main > section {
  margin-bottom: 1rem;
  margin-top: 1rem; }

main > section > article {
  margin-bottom: 4rem;
  margin-top: 3rem; }

footer {
  background: #e2bb3a;
  margin-top: 2rem; }
  footer a.back-to-top-link {
    color: white;
    display: block;
    padding-top: 2.5rem;
    padding-bottom: 2rem; }
    footer a.back-to-top-link p {
      margin-bottom: 0; }
  footer .chevron {
    border-color: white;
    position: relative;
    left: 50%;
    margin-left: -15px; }



/*# sourceMappingURL=../maps/main.css.map */