@import "../../../storage/bower_components/v-accordion/src/vAccordion/styles/vAccordion";

.vAccordion--default img {
  width: 100%;
}

.vAccordion--default v-pane-header {
  margin-top: 1rem;
}

.vAccordion--default v-pane-content {

}

.vAccordion--default v-pane {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.vAccordion--default v-pane.is-expanded > v-pane-header {
  border-bottom-color: $red;
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
  background-color: $red;
}