.button, a.button, button.button {
	transition: none;
	font-family: NittiGrotesk, HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 1.2rem;
	border: 1px solid $white;
	border-bottom: 6px solid $highlight-color;
	border-radius: 0;
	color: $white;
	background: $black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	z-index: 170;
	.chevron {
		border-color: $white;
	}
	&:hover, &:active, &:focus {
		background: $white;
		border-color: $black;
		border-bottom: 6px solid $highlight-color;
		color: $black;
			.chevron {
				border-color: $black;
			}
	}
	&.hollow {
		color: $black;
		background: $white;
		border: 1px solid $black;
		border-bottom: 6px solid $highlight-color;
		.chevron {
			border-color: $black;
		}
		&:hover, &:active, &:focus {
			background: $black;
			color: $white;
			border-color: $black;
			border-bottom: 6px solid $highlight-color;
			.chevron {
				border-color: $white;
			}
		}
	}
	&.success {
		border-color: $success-color;
		color: $white;
		background: $success-color;
		border-bottom: 6px solid $black;
		.chevron {
			border-color: $white;
		}
		&:hover, &:active, &:focus {
			background: transparent;
			color: $black;
			border-color: $success-color;
			border-bottom: 6px solid $black;
			.chevron {
				border-color: $black;
			}
		}
	}
	&.bottomless {
		border-bottom: 1px solid $black;
		&:hover, &:active {
			border-bottom: 1px solid $black;
		}
	}
	&.inverted-colors {
		background: $white;
		color: $black;
		&:hover, &:active, &:focus {
			background: $black;
			color: $white;
		}
	}
	&.highlight-color {
		background: $highlight-color;
		color: $white;
		&:hover {
			background: $black;
			color: $white;
		}
	}
}

.call-to-action {
	margin: 2rem 0 1.25rem 0;
	@media #{$large-up} { margin: 3rem 0 1.25rem 0; }
	@media #{$xlarge-up} { margin: 4rem 0 1.25rem 0; }
}

button.text-button {
	text-align: left;
	background: none;
	padding: 0;
	color: $black;
	font-size: .8rem;
	border-bottom: 2px solid $primary-color;
}