.button.black {
	box-shadow: 0 4px 0 black;
	background: $black;
	font-size: 1.2rem;
	transition: all 150ms ease-in;
	&:hover {
		background: $black;
	}
	&:active {
		box-shadow: none;
		position: relative;
		top: 3px;
	}
}

.call-to-action {
	margin: 2rem 0 1.25rem 0;
}

.look-options {
	padding-right: 0;
	& > ul {
		position: relative;
		&.button-group > li > .button {
			border: 1px solid grey;
		}
		.button {
			padding: .5rem .9rem;
			text-transform: capitalize;
			background: transparent;
			color: $black;
			position: relative;
			right: -.5rem;
			transition: all 150ms ease-in;
			top: 3px;
			&:active, &.active {
				border: 1px solid white !important;
				border-right: none !important;
				border-bottom: none !important;
				background: black;
				color: $white;
				top: 0;
				// box-shadow: none;
				box-shadow: 4px 4px 0 lightgrey;
			}
		}
	}
}