.chevron {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-width: 1px;
  &.breadcrumb-chevron {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 .2rem .1rem .2rem;
  }
}

.button .chevron {
  display:inline-block;
  width: .5rem;
  height: .5rem;
  margin-bottom: .1rem;
  border-width: 2px;
}

.chevron--top {
  transform: rotate(-45deg);
}
.chevron--right {
  transform: rotate(45deg);
}
.chevron--bottom {
  transform: rotate(135deg);
}
.chevron--left {
  transform: rotate(225deg);
}