.chevron {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-width: 1px;
}

.chevron--top {
  transform: rotate(-45deg);
}
.chevron--right {
  transform: rotate(45deg);
}
.chevron--bottom {
  transform: rotate(135deg);
}
.chevron--left {
  transform: rotate(225deg);
}
