// Dubspot Color Scheme - Dima (2015/02/16)

//===========================================================================//
//																 BASE COLORS 															 //
//===========================================================================//

$beige:     #efeadf;
$red:       #B02428;
$orange:    #EF9464;
$yellow:    #FFEE96;
$gold:      #e2bb3a;
$green:     #57ca66;
$baby-blue: #91d8f1;
$blue:      #468aaf;
$purple:    #B783FB;
$olive:     olive;
$navy:      navy;
$bordeaux:  #DE9CCF;
$grey:      #606060;
$silver:    #d9d9d9;
$black:     #222222;
// $white:     #fffcfb;
$white:     white;
$very-light-grey: #F5F5F5;
$greenish-grey: #D8E1E1;
//606060
$dark-beige:      mix($beige,     black, 70%);
$dark-red:        mix($red,       black, 70%);
$dark-orange:     mix($orange,    black, 70%);
$dark-yellow:     mix($yellow,    black, 70%);
$dark-green:      mix($green,     black, 70%);
$dark-baby-blue:  mix($baby-blue, black, 70%);
$dark-blue:       mix($blue,      black, 70%);
$dark-purple:     mix($purple,    black, 70%);
$dark-bordeaux:       mix($bordeaux,      black, 70%);
$dark-grey:       mix($grey,      black, 70%);
$dark-black:      mix($black,     black, 70%);
$dark-white:      mix($white,     black, 70%);

$light-beige:     mix($beige,     white, 50%);
$light-red:       mix($red,       white, 50%);
$light-orange:    mix($orange,    white, 50%);
$light-yellow:    mix($yellow,    white, 50%);
$light-green:     mix($green,     white, 50%);
$light-baby-blue: mix($baby-blue, white, 50%);
$light-blue:      mix($blue,      white, 50%);
$light-purple:    mix($purple,    white, 50%);
$light-bordeaux:      mix($bordeaux,      white, 50%);
$light-grey:      mix($grey,      white, 50%);
$light-black:     mix($black,     white, 50%);
$light-white:     mix($white,     white, 50%);


//===========================================================================//
//																 SITE COLORS 															 //
//===========================================================================//
$primary-color:         $red;
$info-color:            $baby-blue;
$accent-color:          $gold;

$checkout-breadcrumbs-bg: $white;
$section-header-bg:     $beige;
$bg-color:         	    $very-light-grey;
$text-color:         	  mix($grey, white, 90%);
$text-color-inverted:   $white;
$inverted-text-color:   $grey;
$dark-primary-color:    mix($primary-color,   black, 90%);
$secondary-color:       $grey;
$alert-color:           $red;
$success-color:         $green;
$warning-color:         $orange;
$alternate-color:       #B187C9;
$alternate-color-hover: #9F53CA;

$button-bg-color:       $primary-color;
$button-shadow-color:   $dark-primary-color;
$button-font-color:     $white;
$button-font-color-alt: $grey;
$button-border-color:   $dark-primary-color;

$facebook-color:        #3b5998;
$google-color:         	#dd4b39;


$dark-text-color:         	  mix($text-color,      black, 70%);
$dark-secondary-color:        mix($secondary-color, black, 70%);
$dark-alert-color:            mix($alert-color,     black, 70%);
$dark-success-color:          mix($success-color,   black, 70%);
$dark-warning-color:          mix($warning-color,   black, 70%);
$dark-alternate-color:        mix($alternate-color, black, 70%);
$dark-alternate-color-hover:  mix($alternate-color, black, 70%);
$dark-facebook-color:         mix($facebook-color,  black, 70%);
$dark-google-color:         	mix($google-color,    black, 70%);

$light-text-color:         	  mix($text-color,      white, 70%);
$light-primary-color:         mix($primary-color,   white, 70%);
$light-secondary-color:       mix($secondary-color, white, 70%);
$light-alert-color:           mix($alert-color,     white, 70%);
$light-success-color:         mix($success-color,   white, 70%);
$light-warning-color:         mix($warning-color,   white, 70%);
$light-alternate-color:       mix($alternate-color, white, 70%);
$light-alternate-color-hover: mix($alternate-color, white, 70%);
$light-facebook-color:        mix($facebook-color,  white, 70%);
$light-google-color:         	mix($google-color,    white, 70%);

$leather-brown: #734026;

.inverted-colors {
	background: $black;
	color: $white;
	h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
	a:hover {
		color: $light-primary-color;
	}
	a {
		color: $white;
	}
	.button:hover {
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		border-top: 1px solid $white;
	}
	.button.hollow {
		border: 1px solid $white;
		color: $white;
		border-bottom: 6px solid $primary-color;
		&:hover {
			background: $white;
			color: $black;
		}
	}
	.text-button {
		color: $white;
	}
	label  {
		color: $white;
		span {
			color: $black;
		}
		i.fa {
			color: $black;
		}
	}
	fieldset {
		background: $white;
		border: 1px solid $black;
		label, span {
			color: $black;
		}
	}
}