.value-list {
	.list-key {
		display: inline-block;
		min-width: 6.5rem;
	}
	.list-value {
		display: inline-block;
		min-width: 3.8rem;
	}
	&.tight-list .list-key {
		min-width: 4.5rem;
	}
}

.switch.large {
	label, input:checked+label {
		background-color: transparent;
		padding: .5rem;
	}
	label:after {
		background: black;
		top: 1.8rem;
		height: 2px;
	}
	.switch-text {
		color: $text-color;
		font-size: .9rem;
		position: absolute;
		top: .6rem;
		left: .85rem;
		font-weight: bold;
		span:first-child {
			padding-right: .65rem;
		}
		span:last-child {
			padding-left: .65rem;
		}
	}
}

.definition-section {
	line-height: 1.2;
	h2 {
		margin-bottom: 0;
		font-size: 2.25rem;
		line-height: 1;
	}
	.pronounciation, .word-type {
		color: $light-grey;
	}
	.word-type {
		display: block;
		margin-top: .5rem;
	}
}

.credit-card-field {
	position: relative;
	i.fa {
		position: absolute;
    bottom: 0.6rem;
    right: 0.8rem;
    font-size: 1.2rem;
	}
}
.expiry-field {
	display: inline-block;
	width: 60%;
}
.cvc-field {
	display: inline-block;
	width: 38%;
}