.value-list {
	.list-key {
		display: inline-block;
		min-width: 6.5rem;
		text-transform: capitalize;
	}
	.list-value {
		display: inline-block;
		min-width: 3.8rem;
	}
	&.tight-list .list-key {
		min-width: 4.5rem;
	}
	@media #{$tiny-only} {
		font-size: .9rem;
		.list-key {
			min-width: 5rem;
		}
		.list-value {
			min-width: 3.4rem;
		}
	}
	@media only screen and (max-width: 320px) {
		.list-key {
			min-width: 5rem;
		}
		&.tight-list {
			font-size: .9rem;
		}
	}
}

.switch.large {
	label, input:checked+label {
		background-color: transparent;
		padding: .5rem;
	}
	label:after {
		background: black;
		top: 1.8rem;
		height: 2px;
	}
	.switch-text {
		color: $text-color;
		font-size: .9rem;
		position: absolute;
		top: .6rem;
		left: .85rem;
		font-weight: bold;
		span:first-child {
			padding-right: .65rem;
		}
		span:last-child {
			padding-left: .65rem;
		}
	}
}


.measurement-tracker {
	margin-top: 1rem;
}


.alert-box {
	font-size: .9rem;
	a.close {
		opacity: .7;
	}
}

.alert-box.highlight {
	background: $highlight-color;
}

.alert-box.floating {
	position: absolute;
	z-index:  9999;
	right:  5rem;
	top: 5rem;
	ul {
		margin-bottom: 0;
		li small {

		}
	}
	a.close {
		opacity: .7;
		top: 1rem;
	}
}

.panel {
	&.callout {
		background: mix($primary-color, white, 20%);
	}
}

ul.sub-nav {
	li {
		margin-left: .75rem;
	}
	li:first-child {
		margin-left: 0;
	}
	font-size: .8rem;
}