@font-face {
	font-family: Nitti;
	font-weight: 100;
	src: url("/fonts/Nitti-Light.otf") format("opentype");
}
@font-face {
	font-family: Nitti;
	font-weight: 300;
	src: url("/fonts/Nitti-Normal.otf") format("opentype");
}
@font-face {
	font-family: Nitti;
	font-weight: 500;
	src: url("/fonts/Nitti-Medium.otf") format("opentype");
}
@font-face {
	font-family: Nitti;
	font-weight: 900;
	src: url("/fonts/Nitti-Bold.otf") format("opentype");
}



