@font-face {
	font-family: NittiGrotesk;
	font-weight: 200;
	font-style: normal;
  src: url('/fonts/nittigrotesk-semilight-v20.eot'); /* IE9 Compat Modes */
  src: url('/fonts/nittigrotesk-semilight-v20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nittigrotesk-semilight-v20.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: NittiGrotesk;
	font-weight: 200;
	font-style: italic;
  src: url('/fonts/nittigrotesk-semilightitalic-v20.eot'); /* IE9 Compat Modes */
  src: url('/fonts/nittigrotesk-semilightitalic-v20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nittigrotesk-semilightitalic-v20.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: NittiGrotesk;
  font-weight: 500;
  font-style: bold;
  src: url('/fonts/nittigrotesk-bold-v20.eot'); /* IE9 Compat Modes */
  src: url('/fonts/nittigrotesk-bold-v20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nittigrotesk-bold-v20.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: NittiGrotesk;
	font-weight: 700;
	font-style: bold;
  src: url('/fonts/nittigrotesk-bold-v20.eot'); /* IE9 Compat Modes */
  src: url('/fonts/nittigrotesk-bold-v20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nittigrotesk-bold-v20.woff') format('woff'); /* Pretty Modern Browsers */
}


// The Slick.js plugins requests this fontface and we need to point it to the right place
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}