footer {
	a.back-to-top-link {
		color: $white;
	  background: $primary-color;
		display: block;
		padding-top: 1rem;
		padding-bottom: .25rem;
		p {
			margin-bottom: 0;
		}
	}
	.chevron {
		border-color: $white;
		position: relative;
		left: 50%;
		margin-left: -15px;
	}
	nav.footer-nav {
		padding: 1rem 0;
		ul {
			display: inline-block;
			margin: 0 auto;
			li {
				margin-left: .8rem;
			}
			li:first-child {
				margin-left: 0;
			}
		}
	}
	.legal {
		padding: .5rem 0 .8rem 0;
		a {
			font-size: .8rem;
			color: $white;
			text-decoration: underline;
		}
	}
}