footer {
	background: $accent-color;
	a.back-to-top-link {
		color: $white;
		display: block;
		padding-top: 2.5rem;
		padding-bottom: 2rem;
		p {
			margin-bottom: 0;
		}
	}
	.chevron {
		border-color: $white;
		position: relative;
		left: 50%;
		margin-left: -15px;
	}
}