select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 22px;
	@media #{$tiny-only} { font-size: 20px; }
}

form {
	span.alert {
		color: $alert-color;
	}
}

label {
	font-weight: 500;
	color: #676666;
}

input[type="submit"], button[type="submit"] {
	// margin-top: 1rem;
}

.measurement-form label.text-input-label {
	width: 45%;
	display: inline-block;
}

label.text-input-label {
	position: relative;
	// margin-bottom: 1rem;
	span.label-title {
		position: absolute;
		top: .1rem;
		padding-left: .5rem;
		z-index: 5;
	}
	input, textarea {
		display: inline-block;
		padding-top: 2rem;
		padding-bottom: .9rem;
		margin-bottom: 0;
		box-shadow: none;
		font-weight: 200;
		line-height: 1.1;
	}
	input[type="number"] {
		padding-top: 1.3rem;
		padding-bottom: 0rem;
		height: 3rem;
	}
	select {
		text-transform: capitalize;
		padding-top: 1.2rem;
		font-weight: 200;
    height: 2.8rem;
    padding-bottom: 0;
	}
	// textarea {
	//   padding-top: 1.3rem;
	//   font-size: 1rem;
	//   font-weight: 200;
	// }
	&:last-child {
		top: -1px;
	}
}


fieldset.unit-choice {
	input, label:not(:first-child) {
		padding: .25rem;
		position: relative;
		top: -.3rem;
	}
	label {
		margin-right: 2rem;
	}
	width: 80%;
}
fieldset label:not(:first-child) {
	margin-left: .3rem;
}

fieldset {
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .1rem;
}


// Mailchimp Forms

.mce_inline_error {
  @extend .alert-box;
  @extend .alert;
}

.credit-card-field {
	position: relative;
	i.fa {
		position: absolute;
    bottom: 0.6rem;
    right: 0.8rem;
    font-size: 1.2rem;
	}
}
.expiry-field {
	display: inline-block;
	width: 60%;
}
.cvc-field {
	display: inline-block;
	width: 38%;
	.label-title small {
		position: relative;
		top: -2px;
		margin-left: .2rem;
	}
}


label.checkboxes {
	li label {
		font-weight: 200;
	}
	ul li:first-child {
		margin-left: .1rem;
	}
}