select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 22px;
	@media #{$tiny-only} { font-size: 20px; }
}

form {
	span.alert {
		color: $alert-color;
	}
}

label {
	font-weight: 500;
	color: $black;
}

label.text-input-label {
	display: inline-block;
	position: relative;
	width: 45%;
	span.label-title {
		position: absolute;
		top: .1rem;
		padding-left: .5rem;
	}
	input {
		display: inline-block;
		padding-top: 2rem;
		padding-bottom: .7rem;
		margin-bottom: 0;
		box-shadow: none;
	}
	input[type="number"] {
		padding-top: 1.3rem;
		padding-bottom: 0rem;
		height: 3rem;
	}
	textarea {
	  padding-top: 1.3rem;
	  font-size: 1rem;
	}
}


fieldset.unit-choice {
	input, label:not(:first-child) {
		padding: .25rem;
		position: relative;
		top: -.3rem;
	}
	label {
		margin-right: 2rem;
	}
	width: 80%;
}
fieldset label:not(:first-child) {
	margin-left: .3rem;
}

fieldset {
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .1rem;
}


// Mailchimp Forms

.mce_inline_error {
  @extend .alert-box;
  @extend .alert;
}
