select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 22px;
	@media #{$tiny-only} { font-size: 20px; }
}

form {
	span.alert {
		color: $alert-color;
    position: absolute;
    right: 0.5rem;
	}
}

label {
	font-weight: 500;
	color: #676666;
}

label.text-input-label {
	position: relative;
	// margin-bottom: 1rem;
	span.label-title {
		position: absolute;
		top: .1rem;
		padding-left: .5rem;
		z-index: 5;
	}
	input, textarea {
		display: inline-block;
		padding-top: 2rem;
		padding-bottom: .9rem;
		margin-bottom: 0;
		box-shadow: none;
		font-weight: 200;
		line-height: 1.1;
	}
	input[type="number"] {
		padding-top: 1.3rem;
		padding-bottom: 0rem;
		height: 3rem;
	}
	input[type="password"] {
		height: 3rem;
		padding-top: 1.5rem;
		padding-bottom: .5rem;
	}
	select {
		text-transform: capitalize;
		padding-top: 1.2rem;
		font-weight: 200;
    height: 2.8rem;
    padding-bottom: 0;
	}
	// textarea {
	//   padding-top: 1.3rem;
	//   font-size: 1rem;
	//   font-weight: 200;
	// }
	&:last-child {
		top: -1px;
	}
}

.measurement-form {
	label.text-input-label {
		width: 100%;
		display: inline-block;
	}
	fieldset.label-row {
		label {
			width: 47%;
			display: inline-block;
		}
	}
}


fieldset {
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .1rem;
	label:not(:first-child) {
		margin-left: .3rem;
	}
	&.unit-choice {
		input, label:not(:first-child) {
			padding: .25rem;
			position: relative;
			top: -.3rem;
		}
		label {
			margin-right: 2rem;
		}
		width: 80%;
	}
}


// Mailchimp Forms

.mce_inline_error {
  @extend .alert-box;
  @extend .alert;
}

.credit-card-field {
	position: relative;
	i.fa {
		position: absolute;
    bottom: 0.6rem;
    right: 0.8rem;
    font-size: 1.2rem;
	}
}
.expiry-field {
	display: inline-block;
	width: 60%;
}
.cvc-field {
	display: inline-block;
	width: 38%;
	.label-title small {
		position: relative;
		top: -2px;
		margin-left: .2rem;
		@media #{$tiny-only} {
			margin-left: .1rem;
			top: -3px;
			font-size: 65%;
		}
	}
}


label.checkboxes {
	padding-top: .1rem;
	padding-left: .5rem;
	padding-bottom: 0;
	border: 1px solid #cccccc;
	ul {
		margin-bottom: 0;
	}
	li label {
		font-weight: 200;
	}
	ul li:first-child {
		margin-left: .1rem;
	}
}