header {
	border-bottom: 1px solid #e2e2e2;
	a {
		color: $black;
		&:hover {
			color: $black;
		}
	}
	h1 {
		background: $white;
		display: block;
		margin: 0;
		padding-left: 1rem;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 500;
		&.with-breadcrumbs {
			margin-bottom: .3rem;
		}
	}
}