.sidekick-image {
	margin-bottom: 1rem;
}

.customization-image {
	margin: 1rem auto 1.5rem auto;
	display: block;
}

.hero-image-container {
	overflow: hidden;
	height: 22rem;
}

.hero-image {
	margin: 0 auto;
}

.carousel-container {
	padding-bottom: 0;
	.jacket-carousel {
		margin-bottom: 0;
	}
	.slick-loading .slick-list {
	  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
	}
	.slick-slide img {
		margin: 0 auto;
	}
	.slick-dots {
		margin-bottom: 0;
		margin-top: 1rem;
		margin-left: 0;
		li {
	    display: inline-block;
	    margin: 1rem .8rem 0 .8rem;
	    &.slick-active button {
				background: $black;
	    }
		}
		button {
    	margin-bottom: 0;
			background: none;
			border: 1px solid $black;
	    padding: 5px;
	    height: 5px;
	    width: 5px;
	    border-radius: 100%;
			&:before {
				display: none;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.slick-arrow {
	  margin: 0;
	  padding: 0;
		background: none;
		color: transparent;
	  width: 30px;
	  height: 30px;
	  border: none;
	  border-top: 1px solid black;
	  border-right: 1px solid black;
	  border-width: 1px;
	  position: absolute;
	  top: 50%;
	  margin-top: -15px;
	  z-index: 1;
	  &:focus {
	  	outline: none;
	  }
	}
	.slick-next {
	  transform: rotate(45deg);
	  right: 0;
	}
	.slick-prev {
	  transform: rotate(225deg);
	}
}

.jacket-placeholder {
	padding: 0 1rem;
	height: 15rem;
}