
.logo {
	// width: 75%;
}

.sidekick-image {
	margin-bottom: 1rem;
}

.checkout-image {
	// width: 45%;
}

.customization-image {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.hero-image-container {
	overflow: hidden;
	height: 22rem;
}

.hero-image {
	margin: 0 auto;
}

.carousel-container {
	overflow: hidden;
	height: 30rem;
	.jacket-carousel {
		margin-bottom: 0;
	}
	.slick-dots {
		margin-top: 1rem;
		margin-left: 0;
		li {
	    display: inline-block;
	    margin: 1rem .8rem;
	    &.slick-active button {
				background: $black;
	    }
		}
		button {
			background: none;
			border: 1px solid $black;
	    padding: 5px;
	    height: 5px;
	    width: 5px;
	    border-radius: 100%;
		}
	}
}
