.sidekick-image {
	margin-bottom: 1.3rem;
}

.customization-image {
	margin: 1rem auto 1.8rem auto;
	display: block;
}

.hero-image-container {
  background: url(../images/photos/other/hero-image.jpg) no-repeat center center;
  background-size: cover;
	margin-bottom: 1rem;
	@media #{$large-up} {
	  background: url(../images/photos/other/hero-image.jpg) no-repeat 18% center;
	  background-size: contain;
	}
  .filter {
  	z-index: 100;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,  rgba(88, 80, 80, 0.3) 50%, rgba(229,229,229,0.3) 100%);
		@media #{$large-up} {
			background: transparent;
		}
    height: 100%;
    width: 100%;
    .title-container {
			width: 16rem;
	    margin: 0 auto;
	    z-index: 1000;
	    position: relative;
	    top: 30vh;
	    padding-top: 1rem;
			@media #{$large-up} {
				margin-left: 60%;
			}
	    h1 {
 				@media #{$large-up} {
	        color: $black;
					text-align: left;
				}
	    	display: block;
 				color: $white;
	    }
	    .button {
	    	display: block;
	      border-color: $black;
	      border-bottom: 6px solid $primary-color;
	      margin-top: 1rem;
	    }
    }
  }
}

.hero-image {
	margin: 0 auto;
}

.carousel-container {
	padding-bottom: 0;
	.jacket-carousel {
		margin-bottom: 0;
	}
	.slick-loading .slick-list {
	  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
	}
	.slick-slide img {
		margin: 0 auto;
	}
	.slick-dots {
		margin-bottom: 1.5rem;
		margin-top: .5rem;
		margin-left: 0;
		position: static;
		li {
	    display: inline-block;
	    margin: 0 .6rem;
	    &.slick-active button {
				background: $black;
	    }
		}
		button {
    	margin-bottom: 0;
			background: none;
			border: 1px solid $black;
	    padding: 5px;
	    height: 5px;
	    width: 5px;
	    border-radius: 100%;
			&:before {
				display: none;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.slick-arrow {
	  margin: 0;
	  padding: 0;
		background: none;
		color: transparent;
	  width: 45px;
	  height: 45px;
	  border: none;
	  border-top: 1px solid black;
	  border-right: 1px solid black;
	  border-width: 1px;
	  position: absolute;
	  top: 50%;
	  margin-top: -15px;
	  z-index: 1;
	  &:focus {
	  	outline: none;
	  }
	  &:before {
	  	display: none;
	  }
	}
	.slick-next {
	  transform: rotate(45deg);
	  right: 0;
	}
	.slick-prev {
	  transform: rotate(225deg);
	  left: 0;
	}
}

.jacket-placeholder {
	padding: 0 1rem;
	height: 15rem;
}