.jacket-page {
  padding-bottom: 3rem;
  .jacket-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    @media #{$medium-up} {
      margin-left: 1rem;
      padding-left: 7%;
      width: 50%;
    }
    h1 {
      font-size: 2.441em;
      letter-spacing: -.04em;
    }
    .large-price {
      font-size: 1.563em;
      font-weight: 200;
      letter-spacing: -0.03em;
    }
  }
}


.jacket-body img {
  margin-bottom: 1rem;
}

.jacket-expo {
  display: flex;
  flex-direction: column;
  @media #{$medium-up} {
    flex-direction: row;
  }
}