.page-wrap {

	@media #{$medium-up} {
		background: transparent;
		position: static;
	}
	@media #{$medium-only} {
		transform: translateY(-1.7rem);
		& > header, & > header h1 {
			background: transparent;
		}
		& > header h1 {
			margin-bottom: .3rem;
		}
	}
	position: relative;
	background: $white;
	transition: all .4s ease;
	z-index: 9999;
	top: -4rem;
	&.headless-page, &.on-info-page.with-existing-order, &.on-jacket-page, &.with-existing-order, &.four-levels {
		top: -5.8rem;
	}
	&.headless-page.with-existing-order, &.on-jacket-page.with-existing-order {
		top: -7.9rem;
	}
	&.descended {
		top: 0 !important;
	}
}

main > section, main > article, main > section > article, main > article > section {
	padding: 1rem 0 2rem 0;
	@media #{$medium-up} { padding: 1.5rem 0 2.5rem 0}
	&:last-child {
		padding-bottom: 4rem;
	}
}

section.panel {
	margin-bottom: 2rem;
	@media #{$medium-up} { margin-bottom: 2.5rem 0}
}


.shrunken-layout {
	main > section, main > article, main > section > article {
		padding-bottom: 0;
	}
}

main > p {
	padding-top: 1rem;
	margin-bottom: 0;
}

.primary-color-section {
	background: $primary-color;
	color: $white;
	p {
		margin-bottom: 0;
	}
}

section.responsive-section {
	display: flex;
	flex-direction: column;
	@media #{$medium-up} { flex-direction: row }
	div.columns:not(.image-container) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}