.page-wrap {
	@media #{$medium-up} { position: static; }
	position: relative;
	background: $white;
	transition: all .4s ease;
	z-index: 9999;
	top: -4rem;
	margin-top: .5rem;
	&.deep-info-page, &.on-info-page.with-existing-order, &.on-jacket-page, &.with-existing-order {
		// top: -5.8rem;
		top: -6.5rem;
	}
	&.deep-info-page.with-existing-order, &.on-jacket-page.with-existing-order {
		top: -7.9rem;
	}
	&.descended {
		top: 0 !important;
	}
}

main > section, main > article, main > section > article {
	padding: 1rem 0 2rem 0;
	@media #{$medium-up} { padding: 1.5rem 0 2.5rem 0}
	&:last-child {
		padding-bottom: 4rem;
	}
}

.primary-color-section {
	background: $primary-color;
	color: $white;
	p {
		margin-bottom: 0;
	}
}

