.page-wrap {
	background: $white;
	transition: all .4s ease;
	position: relative;
	z-index: 9999;
	top: -4rem;
	margin-top: .5rem;
	&.home-page, &.on-info-page.with-existing-order, &.on-jacket-page, &.with-existing-order {
		top: -5.8rem;
	}
	&.home-page.with-existing-order, &.on-jacket-page.with-existing-order {
		top: -7.9rem;
	}
	&.descended {
		top: 0 !important;
	}
}

.centered {
	width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.flex-video {
	margin-bottom: 1rem;
}

main > section, main > article {
	padding-bottom: 2rem;
	padding-top: 1rem;
	&:last-child {
		padding-bottom: 4rem;
	}
}

main > section > article {
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.primary-color-section {
	background: $primary-color;
	color: $white;
	p {
		margin-bottom: 0;
	}
}

