a {
	color: $primary-color;
	text-decoration: none;
	&:hover, &:focus {
		color: darken($primary-color, 15%);
	}
}

a.under-button-link {
	position: relative;
	top: -1rem;
}

a.under-heading-link {
	margin-top: 0;
	font-size: .9rem;
}

a.image-link {
	display: block;
	text-align: center;
}