.look-options2 {
	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	margin-top: -2rem;
	padding-bottom: 2rem;
	fieldset {
		padding: 0;
		border: none;
	}
	legend {
		font-weight: 100;
		padding: 0;
		margin: 0;
		margin-bottom: .2rem;
		line-height: 1;
	}

	.button[type="submit"] {
		margin-top: 2rem;
	}
	label:not([type="submit"]) {
		width: 4.7rem;
		margin-bottom: 0;
		margin-left: 0;
		border: none;
    padding: 0.325rem .475rem 0.3875rem .475rem;
    margin-right: .875rem;
		border-color: white;
    &:hover {
    	background: none;
    	border-width: 2px;
    	color: $black;
    	top: 0;
    }
		&.active {
			border: 2px solid;
		}
		&.black, &.brown, &.gray, &.pink, &.silver, &.darkGray, &.gold {
			border-color: $black;
		}
		&.black {
			border-color: $black;
		}
		&.brown {
			border-color: $leather-brown;
		}
		&.gray {
			border-color: mix($grey, white, 75%);
		}
		&.navy {
			border-color: $navy;
		}
		&.olive {
			border-color: $olive;
		}
		&.pink {
			border-color: $pink;
		}
		&.silver {
			border-color: $silver;
		}
		&.darkGray {
			border-color: mix($dark-grey, white, 75%);
		}
		&.gold {
			border-color: $gold;
		}
	}
}