.show-order-page .look-options {
	margin-top: 0;
	padding-top: 0;
}

.look-options {
	padding-bottom: 2rem;
	margin-top: 2rem;
	h2 {
		font-size: 2.3125rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	hr {
		margin: 0 auto;
		margin-top: .65rem;
		margin-bottom: 1.35rem;
		width: 10rem;
		border-color: transparent;
		&.full-width {
			width: 100%;
		}
	}
	.lookDesigner {
		display: flex;
		align-items: center;
		flex-direction: column;
		@media #{$medium-up} {
			flex-direction: row;
		}
		&.reversed {
			flex-direction: column-reverse;
			@media #{$medium-up} {
				flex-direction: row;
			}
		}
	}
	.image-section {
		text-align: center;
		@media #{$medium-up} {
			width: 50%;
			padding-right: 0.9375rem;
		}
		a.underlined {
			position: relative;
			top: -2rem;
			&:first-of-type {
				float: left;
				margin-left: 19%;
			}
			float: right;
			margin-right: 19%;
		}
		img {
			display: block;
		}
	}
	.look-options-form {
		@media #{$medium-up} {
			width: 50%;
		}
	}
	fieldset {
		padding: 0;
		border: none;
		margin-top: 0;
	}
	@media #{$medium-up} {
		fieldset, .look-options-form h2 {
			margin-left: 2rem;
		}
	}
	legend {
		font-weight: 200;
		padding: 0;
		margin: 0;
		// margin-bottom: .2rem;
		margin-bottom: 1rem;
		line-height: 1;
		font-size: 0.8rem;
		color: #969696;
	}

	.button[type="submit"] {
		margin-top: 2rem;
	}
	label:not([type="submit"]) {
		width: 4.5rem;
		margin-left: 0;
		border: none;
    padding: 0.325rem .375rem 0.3875rem .375rem;
    margin-right: .075rem;
    &:hover {
    	background: none;
    	border-width: 2px;
    	color: $black;
    	top: 0;
    }
		&.active {
			border: 2px solid;
		}
		&.black, &.brown, &.gray, &.bordeaux, &.silver, &.graphite, &.gold {
			border-color: $white;
		}
		&.black {
			border-color: $black;
		}
		&.brown {
			border-color: $leather-brown;
		}
		&.gray {
			border-color: mix($grey, white, 75%);
		}
		&.navy {
			border-color: $navy;
		}
		&.olive {
			border-color: $olive;
		}
		&.bordeaux {
			border-color: $bordeaux;
		}
		&.silver {
			border-color: $silver;
		}
		&.graphite {
			border-color: mix($dark-grey, white, 75%);
		}
		&.gold {
			border-color: $gold;
		}
	}
	label.text-input-label {
		width: 100%;
		padding: 0;
	}
}
