@import "colors";
@import "components";
@import "measurement-table";
@import "buttons";
@import "text";
@import "images";
@import "navigation";

.carousel-container {
	overflow: hidden;
	height: 45rem;
	.home-carousel {
		margin-bottom: 0;
	}
}

.centered {
	width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 30.063em) {
	footer .alert-box {
		position: absolute;
		right: 0;
		width: 25%;
	}
}

.flex-video {
	margin-bottom: 1rem;
}

main > section {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

main > section > article {
	margin-bottom: 4rem;
	margin-top: 3rem;
}