@import "navigation";

	.logo {
		// width: 75%;
	}
	.centered {
		width: 60%;
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
	}

@media only screen and (min-width: 30.063em) {
	footer .alert-box {
		position: absolute;
		right: 0;
		width: 25%;
	}
}


.hero-image {
	margin: 0 auto;
	margin-left: 4rem;
	width: 70%;
}

.hero-text {
	position: absolute;
	text-align: center;
	font-size: 2.9rem;
	top: 38rem;
	left: 1rem;
	strong span {
		color: white;
	}
}