ul.measurement-tracker3 {
	margin: 0;
	margin-bottom: 2rem;
	// width: 19rem;
	li {
		padding: 0;
		&:not(:first-child) {
			border-left: 1px solid $black;
		}
		margin-bottom: .4rem;
	}
	a {
		font-size: .8rem;
		font-weight: 300;
		background: white;
		color: black;
		padding: 0;
		width: 4.75rem;
		height: 2.5rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		margin: 0;
		line-height: 1.2;
		position: relative;
		.measurement-title {
		}
		.measurement-marker {
			display: none;
			border-radius: 100%;
			width: 1rem;
			height: 1rem;
			background: $light-blue;
			z-index: 1;
			position: relative;
			bottom: 0;
		}
		.measurement-value {
			display: block;
			border-bottom: none;
			font-weight: 500;
			line-height: 1;
		}
		.measurement-units {
			font-weight: 300;
		}
		&.valid {
			// border-bottom: 6px solid $success-color;
		}
		&.active {
			// background: $light-blue;
			.measurement-marker {
				display: block;
			}
		}
		div {
			margin: auto;
		}
	}
}
