.measurement-entry {
	padding-top: 0;
	form {
		margin-top: 1.5rem;
	}
	// article {
	// 	margin-bottom: 2rem;
	// }
	p {
		margin-bottom: .6rem;
	}
	h3 {
		position: absolute;
		left: -9999px;
	}
	.text-input-label {
		width: 7rem;
		input {
			width: 88%;
		}
		&.wider {
			width: 14rem;
		}
	}
	span.measurement-fraction {
		position: absolute;
		bottom: 0;
		left: 3rem;
		& > span {
			display: inline-block;
			font-weight: 200;
			margin-left: 1.15rem;
			margin-right: .5rem;
		}
		font-size: 1.15rem;
	}
	span.input-units {
		display: inline-block;
		position: relative;
		font-weight: 200;
		right: 2.5rem;
		bottom: 0;
	}
	.player {
		z-index: 2000;
		padding-top: 2rem;
		background: white;
		position: relative;
		.text-button {
			position: absolute;
			font-size: .8rem;
			z-index: 3000;
			right: 0;
			bottom: -0.7rem;
			margin-right: 1rem;
		}
	}
	.player-controls {
		text-align: left;
	}
	.player-controls-right {
		display: inline-block;
	}
	.player-controls button:hover {
		color: $white;
		background: #B02428;
		border-bottom: 3px solid $black;
	}
	.player-controls button {
		background: none;
		border: 1px solid $black;
		border-radius: 0;
		color: black;
		border-bottom: 3px solid #B02428;
	}
	.player-progress-played[value] {
		color: #B02428;
	}
	.measurement-instructions {
		padding-top: 1rem;
		background: $white;
	}

}