.measurement-entry {
	form {
		margin-top: 1.5rem;
	}
	article {
		margin-bottom: 2rem;
	}
	.text-button {
		font-size: .8rem;
	}
	label.text-input-label, fieldset {
		display: inline-block;
		width: 49%;
		margin-top: -1rem;
	}
	fieldset.unit-choice {
		input, label:not(:first-child) {
			padding: .25rem;
			position: relative;
			top: -.3rem;
		}
		label {
			margin-right: 2rem;
		}
		width: 80%;
	}
	fieldset label:not(:first-child) {
		margin-left: .3rem;
	}
	input[type="tel"] {
		width: 80%;
		display: inline-block;
	}
	span.input-units {
		display: inline-block;
		position: relative;
		font-weight: 200;
		left: -3rem;
	}
	h3 {
		position: relative;
		left: -9999px;
	}
	.player-controls-right {
		display: inline-block;
	}
	.measurement-instructions {
		background: $white;
	}
}