ul.measurement-tracker5 {
	margin: 0;
	margin-bottom: 2rem;
	width: 19rem;
	li {
		padding: 0;
	}
	a {
		font-size: .9rem;
		font-weight: 300;
		background: white;
		color: black;
		padding: 0;
		width: 4.75rem;
		height: 3rem;
		text-align: center;
		// border: 1px solid $black;
		// border-bottom: 6px solid $primary-color;
		display: flex;
		margin: 0;
		line-height: 1.2;
		.measurement-title {
			border-bottom: 2px solid $primary-color;
		}
		.measurement-value {
			display: block;
			border-bottom: none;
			font-weight: 500;
			line-height: 1;
		}
		.measurement-units {
			font-weight: 300;
		}
		&.valid {
			// border-bottom: 6px solid $success-color;
		}
		&.active {
			border-bottom: 6px solid $blue;
			border: 6px solid $blue;
		}
		div {
			margin: auto;
		}
	}
}