.measurement-entry {
	padding-top: 0;
	form {
		margin-top: 1.5rem;
	}
	p {
		margin-bottom: .6rem;
	}
	h3 {
		position: absolute;
		left: -9999px;
	}
	.text-input-label {
		width: 7rem;
		input {
			width: 88%;
		}
		&.wider {
			width: 14rem;
		}
	}
	span.measurement-fraction {
		position: absolute;
		bottom: 0;
		left: 3rem;
		& > span {
			display: inline-block;
			font-weight: 200;
			margin-left: 1.15rem;
			margin-right: .5rem;
		}
		font-size: 1.15rem;
	}
	span.input-units {
		display: inline-block;
		position: relative;
		font-weight: 200;
		right: 2.5rem;
		bottom: 0;
	}
	.measurement-instructions {
		padding-top: 1rem;
		background: $white;
	}

}