@media only screen {
	nav.primary-nav {
		text-align: left;
		padding: 1rem 1rem;
		padding-bottom: 0;
		.logo {
			border: none;
			margin-bottom: .5rem;
			img {
				width: 10rem;
			}
		}
		.menu-button {
			color: $black;
			border-bottom: 3px solid $primary-color;
			font-size: 1.25rem;
			line-height: 1;
			// position: relative;
			// top: -.3rem;
			&.open {
				border: none;
			}
		}
		ul {
			margin-bottom: 0;
		}
		li {
			margin-bottom: .5rem;
			&.active a {
					border: none;
					color: $black;
					display: none;
			}
		}
		a {
			color: $black;
			border-bottom: 3px solid $primary-color;
			font-size: 1rem;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: .5rem;
		}
	}
}

@media only screen and (min-width: 30.063em) {
	nav.primary-nav {
		img {
			width: 14rem;
		}
		li {
			display: inline-block;
		}
		a {
			padding: 0 1rem;
			font-size: .8rem;
		}
	}
}
