@media only screen {
	nav.primary-nav {
		text-align: left;
		padding: 1rem 1rem;
		.logo {
			border: none;
			margin-bottom: 0;
			img {
				width: 10rem;
				// padding-bottom: 2rem;
			}
		}
		.menu-button {
			color: $black;
			border-bottom: 3px solid $primary-color;
			font-size: 1.25rem;
			// padding: .05rem .3rem;
			padding-bottom: 0;
			position: relative;
			top: -.3rem;
			i {
				position: relative;
				top: .075rem;
			}
			&.open {
				border: none;
			}
		}
		li {
			margin-bottom: .5rem;
		}
		li.active {
			// font-weight: bold;
			// background: black;
			a {
				border: none;
				color: $black;
				display: none;
			}
		}
		a {
			color: $black;
			border-bottom: 3px solid $primary-color;
			font-size: 1rem;
			font-weight: light;
			text-transform: uppercase;
			margin-bottom: .5rem;
		}
	}
}

@media only screen and (min-width: 30.063em) {
	nav.primary-nav {
		img {
			width: 14rem;
		}
		li {
			display: inline-block;
		}
		a {
			padding: 0 1rem;
			font-size: .8rem;
		}
	}
}
