nav.primary-nav {
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
	text-align: left;
	padding-top: 1rem;
	padding-bottom: 0;
	.logo {
		border: none;
		margin-bottom: .5rem;
		img {
			width: 10rem;
			@media #{$tiny-only} { width: 7em; }
		}
	}
	.menu-button {
		@media #{$medium-up} { display: none; }
		font-size: 1rem;
		line-height: 1;
		font-weight: 200;
		position: relative;
		top: .1rem;
		@media #{$tiny-only} { top: 0.2em; }
		&.open {
			border: none;
		}
	}
	ul {
		margin-bottom: 0;
	}
	li {
		margin-bottom: .5rem;
		&.current {
			display: none;
		}
	}
	a {
		font-size: 1rem;
		font-weight: 200;
		text-transform: uppercase;
		margin-bottom: .5rem;
		letter-spacing: .03em;
	}
	.secondary-nav {
		position: absolute;
		right: 1rem;
		top: 3.3rem;
		 a {
		 	display: block;
			text-transform: none;
			font-size: .8rem;
			margin-bottom: 0;
		}
	}
	@media #{$medium-up} {
		z-index: 9999;
		.logo img {
			transform: translateY(.5rem);
			width: 20rem;
		}
		.clearfix {
			display: none;
		}
		ul {
			float: right;
		}
		li.current {
			display: inline-block;
		}
	}
	@media #{$large-up} {
		padding-top: 1rem;
		padding-bottom: 1rem;
		hr {
			margin: 0;
		}
		.clearfix {
			display: none;
		}
		img {
			width: 14rem;
		}
		ul {
			float: right;
			position: relative;
			top: -.2rem;
		}
		li {
			display: inline-block;
			a {
				font-size: 1rem;
				line-height: 1;
				margin-left: 1rem;
			}
			&:first-child  a {
				margin-left: 0;
			}
		}
		.secondary-nav {
			top: 2.5rem;
		}
	}
}



#terms-nav {
	& > ul > li {
		font-weight: 500;
		 & > ul {
				font-weight: 200;
		 }
	}
	a {
		font-size: .9rem;
	}
	.with-nested-list {
		list-style: none;
	}
}