.hero-text {
	position: absolute;
	text-align: center;
	font-size: 2.9rem;
	top: 38rem;
	left: 1rem;
	strong span {
		color: white;
	}
}

.thin {
	font-family: 'HelveticaNeue-Thin', 'Helvetica', 'Roboto', 'Arial', 'sans-serif';
	margin-bottom: 0;
}

.image-caption {
	margin-bottom: 2rem;
	display: inline-block;
}

.video-caption {
	margin-bottom: 2rem;
	display: inline-block;
}