// Classes
.show {
  display: block !important;
}
.hidden {
  // display: none !important;
  display: none;
}
.invisible {
  visibility: hidden;
}

.fix-to-top {
	position: fixed;
	top: 0;
	background: $white;
	z-index: 9999;
}