.value-list {
	.list-key {
		display: inline-block;
		min-width: 6.5rem;
		text-transform: capitalize;
	}
	.list-value {
		display: inline-block;
		min-width: 3.8rem;
	}
	&.tight-list .list-key {
		min-width: 4.5rem;
	}
	.multi-line {
		.list-key {
			position: absolute;
		}
		div {
			padding-left: 6.5rem;
			display: inline-block;
			span:not(.active) {
				font-size: .8rem;
			}
			span.active {
				font-weight: bold;
			}
		}
	}
	.note-row {
		div {
			display: block;
		}
		a {
			position: relative;
			left: 4.2rem;
			top: -.35rem;
		}
	}
	.line-item-price {
		text-align: right;
		small {
			display: inline-block;
			float: left;
			top: .35rem;
			position: relative;
		}
	}
	@media #{$tiny-only} {
		font-size: .9rem;
		.list-key {
			min-width: 5rem;
		}
		.list-value {
			min-width: 3.4rem;
		}
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	.medium-6 .value-list {
		.list-key {
			min-width: 4.8rem;
		}
		.list-value {
			min-width: 2.5rem;
		}
		a.underlined {
			font-size: .7rem;
		}
	}
}


@media #{$medium-only} and (orientation: portrait)  {
	.medium-6 .value-list {
		.list-key {
			min-width: 5rem;
		}
		.list-value {
			min-width: 2.5rem;
		}
		.note-row a {
			left: 2.9rem;
		}
	}
}

.small-6 .value-list  {
	.list-key {
		min-width: 4rem;
	}
	.list-value {
		min-width: 0;
	}
}


span.value-list-action, a.value-list-action:not(.underlined) {
	position: relative;
	top: .25rem;
}
span.value-list-action {
	top: .2rem;
}

.value-list-controls {
	margin-bottom: .5rem;
	h3 {
		margin-bottom: 0;
	}
}

