.player {
  z-index: 2000;
  padding-top: 2rem;
  background: white;
  position: relative;
  @media #{$medium-up} { padding-top: 0; }
  .text-button {
    position: relative;
    font-size: .8rem;
    z-index: 4000;
    right: 0;
    bottom: -0.7rem;
    margin-right: 1rem;
  }
  .player-controls {
    text-align: left;
    padding-top: 2px;
    @media #{$medium-up} { padding-top: 0.75rem; }
    box-shadow: none;
    border-bottom: 1px solid $light-grey;
  }
  .player-controls-right {
    display: inline-block;
    @media #{$medium-up} { float: left; }
  }
  .player-controls button:hover {
    // color: $white;
    // background: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
  .player-controls button {
    background: none;
    color: $black;
    // border: 1px solid $black;
    border-radius: 0;
    border-bottom: 2px solid transparent;
  }
  .player-progress-played[value] {
    color: $primary-color;
  }
}

.hero-video-container {
  position: relative;
  top: -1px;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // background: white;
  background: url(../images/photos/other/hero-image.jpg) no-repeat center center fixed;
  background-size: contain;
  .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .filter {
    z-index: 100;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(88, 80, 80, 0.3), rgba(88, 80, 80, 0.3)); /* Standard syntax */
    width: 100%;
  }
  .title-container {
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
    top: 50%;
    margin-top: -8rem;
    padding-top: 1rem;
    h1 {
      margin: auto;
      color: white;
    }
    .button {
      border-color: $black;
      border-bottom: 6px solid $primary-color;
      margin-top: 1rem;
    }
  }
  @keyframes changeColor {
    0%   {color: $white;}
    50%  {color: $black;}
    100% {color: $white;}
  }
  video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  video.fillWidth {
    width: 100%;
  }
}

@media screen and (max-device-width: 800px) {
  .hero-video-container {
    // background: url('/images/hero_short.gif') #000 no-repeat center center;
    background: url('/images/1024px halftone 12frames dithering simple 256.gif') #000 no-repeat center center;
    background: url('/images/768px halftone 16frames no color reduction.gif') #000 no-repeat center center;
    background: url('/images/768px halftone 12frames no color reduction.gif') #000 no-repeat center center;
    background: url('/images/480px halftone 24frames no color reduction.gif') #000 no-repeat center center;
    background-size: cover;
  }
  .no-video .hero-video-container video, .touch .hero-video-container video {
    display: none;
  }
}
